@model ProjetoColaborador.Models.Entities.ColaboradorResponseDTO;
@using ProjetoColaborador.Models.Entities

@{

    IList<Cargos>? allCargos = ViewData["ListadeCargos"] as IList<Cargos>;

}



<div class="modal fade" id="EditColaborador-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Colaborador</h5>
                <a class="btn-close" onClick="window.location.reload()" role="button"></a>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post" class="myform-edit">
                    <span id="span-validation-edit">Todos os campos são obrigatórios</span>
                    <div class="form-group">
                        <input type="hidden" class="form-control inputEdit" id="recipient-name" value="@Model.Id">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nome:</label>
                        <input type="text" class="form-control inputEdit" id="recipient-name" value="@Model.Name">
                    </div>  
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="email" class="form-control inputEdit" id="recipient-name" value="@Model.Email">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Telefone:</label>
                        <input type="text" class="form-control inputEdit" id="recipient-name" value="@Model.Telefone">
                    </div>
                    <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Cargo:</label>

                    <select id="select-modal" class="form-select" aria-label="Default select example" value="CargoID">
                        @{
                            if (allCargos != null)
                            {

                                foreach (var cargo in allCargos)
                                {
                                    <option value="@cargo.Id">@cargo.Name</option>
                                }
                            }
                        }

                    </select>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onClick="window.location.reload()">Fechar</button>
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


